@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,600i');

@font-face {
  font-family: 'Proxima Nova';
  src: url('~/assets/fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('~/assets/fonts/proximanova-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
