@font-face {
  font-family: 'Proxima Nova';
  src: url('~assets/fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('~assets/fonts/ProximaNova-Extrabold.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('~assets/fonts/EBGaramond-Regular.ttf') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('~assets/fonts/EBGaramond-Italic.ttf') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('~assets/fonts/EBGaramond-SemiBold.ttf') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('~assets/fonts/EBGaramond-SemiBoldItalic.ttf') format('woff');
  font-weight: 600;
  font-style: italic;
}
