<ul class="social-nav">
  {% for id, item in nav %}
    <li>
      <a href="{{ item.href }}" target="_blank"><span class="sr-only">{{ item.title }}</span>
        {% include '@molecules/social-nav/' ~ id ~ '.svg.twig' %}
      </a>
    </li>
  {% endfor %}
</ul>
