<div class="new-location">
  <span class="sr-only">Check out our new location</span>
  <div class="new-location__img">
    {% include '@molecules/new-location/new-location.svg.twig' %}
  </div>
  <div class="new-location__arrow">
    {% include '@atoms/icons/share.svg.twig' %}
  </div>
</div>