<div class="address" itemscope itemtype="http://schema.org/Church">
  <span itemprop="name" class="sr-only">C3 Church Vancouver</span>
  <span itemprop="openingHours" content="Su 10:15-12:00" class="hours">Every Sunday at 10:30am</span>
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">
      <a href="https://www.google.ca/maps/place/C3+Church+Vancouver/@49.2627435,-123.1069253,17z/data=!3m1!4b1!4m5!3m4!1s0x5486717a3412069f:0xd4c0b69aea30bb6b!8m2!3d49.27988!4d-123.10716?authuser=1" target="_blank">
      {% include '@atoms/icons/map_pin.svg.twig' %}
      2520 Ontario Street
      <span itemprop="addressLocality">Vancouver</span>,
      <span itemprop="addressRegion">BC</span>
      <span itemprop="postalCode" class="sr-only">V5T 1V6</span>
    </a>
    </span>
  
  </div>
  {% include '@molecules/new-location/new-location.twig' %}
</div>




