<div class="address" itemscope itemtype="http://schema.org/Church">
  <span itemprop="name" class="sr-only">C3 Church Vancouver</span>
  <span itemprop="openingHours" content="Su 10:15-12:00" class="hours">Every Sunday at 10:15am</span>
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">
      Cineplex Odeon<br>
      <a href="https://www.google.ca/maps/place/49°16'47.5%22N+123°06'25.8%22W/@49.2798835,-123.1079519,18.72z/data=!4m5!3m4!1s0x0:0x0!8m2!3d49.279871!4d-123.107173?hl=en">
      {% include '@atoms/icons/map_pin.svg.twig' %}
      International Village Cinemas<br>
      Cnr of Abbot St & Keefer Place
      <span itemprop="addressLocality">Vancouver</span>,
      <span itemprop="addressRegion">BC</span>
      <span itemprop="postalCode" class="sr-only">V6B 6N5</span>
    </a>
    </span>
  </div>
</div>
