<ul class="social-nav">
  {% for id, item in nav %}
    <li>
      <a href="{{ item.href }}" target="_blank"><span>{{ item.title }}</span>
        {% include '@atoms/icons/' ~ id ~ '.svg.twig' %}
      </a>
    </li>
  {% endfor %}
</ul>
