html {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

body {
  // @extend %breakpoint-indicators;
  height: 100%;
  width: 100%;
  position: relative;
  background: #0d0b18 url('/img/bg-1.jpg') no-repeat center center fixed;
  background-size: cover;
  font-size: 1rem;
}

main {
  min-height: 100%;
  position: relative;
  padding-bottom: 2.7em;
  text-align: center;
  z-index: 1;
}
