<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>{{ pageTitle }}</title>
  </head>
  <body>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main" class="sr-only">
      {{ 'Skip to main content' }}
    </a>
    <main id="main">
      <div class="logo">
        {% include '@atoms/logo/logo.svg.twig' %}
        <h1>C3 Church <span>Vancouver</span></h1>
      </div>
      {% include '@molecules/social-nav/social-nav.twig' with { nav: social_nav } %}
      {% include '@organisms/address/address.twig' with { nav: social_nav } %}

      <div class="bg-fader">
        <div class="in"></div>
        <div class="out"></div>
      </div>
    </main>

    <script src="/vendors/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
