<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>{{ pageTitle }}</title>
  </head>
  <body>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main" class="sr-only focusable skip-link">
      {{ 'Skip to main content' }}
    </a>

    <main id="main">
      <h1>C3 Church <span>Vancouver</span></h1>
    </main>

    <!-- <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/custom.js"></script> -->

  </body>
</html>
