/*
//
//  @font-face mixins
//
//  woff-only font-face mixin with more than adequate browser coverage.
//  example with different weights…
//  @include at-font-face('SourceSansPro', 'source_sans_proregular', '/sites/all/themes/greenbiz/fonts/sourcesanspro-regular' );
//  @include at-font-face('SourceSansPro', 'source_sans_proregular', '/sites/all/themes/greenbiz/fonts/sourcesanspro-regular' );
//  @include at-font-face('SourceSansPro', 'source_sans_proitalic', '/sites/all/themes/greenbiz/fonts/sourcesanspro-italic', normal, italic);
//  @include at-font-face('SourceSansPro', 'source_sans_probold', '/sites/all/themes/greenbiz/fonts/sourcesanspro-bold', bold );
//  @include at-font-face('SourceSansPro', 'source_sans_probold_italic', '/sites/all/themes/greenbiz/fonts/sourcesanspro-bolditalic', bold, italic);
*/

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
  @font-face {
    font-family: $font-family;
    src:
      url('#{$file-path}.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-weight: $weight;
    font-style: $style;
    font-stretch: none;
  }
}
