// -- Fonts -- //

@include font-face('ProximaNova', '../assets/fonts/proxima-nova-regular');
@include font-face('ProximaNova', '../assets/fonts/proxima-nova-bold', bold);

body {
  font-family: $font-family-sans-serif;
  line-height: $line-height-base;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%h1 {
  font-family: $font-family-serif;
  font-size: $font-size-h1;
}

%h2 {
  font-family: $font-family-serif;
  font-size: $font-size-h2;
}

%h3 {
  font-family: $font-family-serif;
  font-size: $font-size-h3;
}

%h4 {
  font-size: $font-size-h4;
}

%h5 {
  font-size: $font-size-h5;
  font-weight: bold;
}

%h6 {
  font-size: $font-size-h6;
  font-weight: light;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

h5,
h6 {
  line-height: $line-height-base;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

a {
  color: $link-color;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: $link-color;
  }
}
